@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button {
    @apply transition;
  }

  a {
    @apply text-primary-lite underline
        decoration-primary-lite/60 decoration-2
        hover:decoration-primary-lite hover:bg-primary-washed
        outline-0 focus:ring-2 focus:ring-offset-1 focus:ring-emerald-500;
  }

  ::selection {
    @apply bg-primary-washed text-inherit;
  }

  button:focus,
  input:focus {
    @apply outline-0 ring-2 ring-offset-1 ring-emerald-500 caret-emerald-500;
  }

  label,
  strong,
  b {
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }

  p {
    @apply text-pretty;
  }
}
